
/* ========  Color Variable  ======== */
$primary-color: #023e81;
$secondary-color: #03045e;
$off-white: #f5f5f5;

$white-color: #fff;
$black-color: #000;

$footer-bg: #010127;


/* ========  Font Weight  ======== */
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$font_family: "Poppins", sans-serif;

/* ========  Font Weight  ======== */
$header-font: 45px;
$section-header-font: 35px;
$sub-title-font: 25px;
$medium-font: 18px;
$paragraph-font: 16px;
$small-font: 15px;


$section-spacing: 50px;


/* ========  Break Points  ======== */
$phone: 576px;
$tab: 768px;
$laptop: 992px;
$desktop: 1200px;
